<% content_for :title do %>Foobar Kadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>
<section>
  <img src="http://lorempixel.com/1170/600/nightlife/1">
</section>
<section>
  <div class="column">
    <h2>missatge per retenir el client i que faci sign up.</h2>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
      <%= f.input :email, label: false, :placeholder => 'El teu email ...' %>
        <br/>
      <%= f.button :submit, "Sign up per a la newsletter", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>